<div class="container-fluid">
  <div class="row mt-1">
    <div class="col-lg-5">
      <div class="card" id="card">
        <div class="card-body">

          <div class="form-group col-md-12">
            <h4 for="inputCity">
              <font color="orange"><b>Categories</b></font>
            </h4>

            <select (change)="selectcat($event);" id="inputCity" class="form-control">
              <option>Choose...</option>
              <option *ngFor="let x of category" [value]="x.cat_id">
                {{ x.category_name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <br>
      <h2>
        <font color="orange"><b>View Books</b></font>
      </h2>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Book Id</th>

            <th>Book Name</th>
            <!-- <th>Description</th> -->
            <th>Category Name</th>
            <th>Publisher Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Discount</th>
            <th>Book Image</th>
            <th>Stock Status</th>


          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let bookObj of books">

            <td>{{ bookObj.book_id }}</td>
            <td>{{ bookObj.book_name }}</td>
            <td>{{ bookObj.category_name }}</td>
            <td>{{ bookObj.pub_name }}</td>
            <td>₹{{ bookObj.price }}</td>
            <td>{{ bookObj.quantity }}</td>
            <td>{{ bookObj.discount }}</td>
            <td><img src="{{bookObj.book_image}}"  style="width:50px;height:50px"></td>
            <td>{{ bookObj.stock}}</td>

            <td>
              <button routerLink="/admin/book/edit-book/{{bookObj.book_id}}" class="btn btn-small btn-danger pull-right"
                style="margin-right:20px">Update</button></td>
            <td><button class="btn btn-small btn-success pull-right" (click)="deleteData(bookObj.book_id)"
                style="margin-right:20px">Delete</button></td>
          </tr>

          <!-- <tr *ngIf="books.length==0 && ((bookObj|json) != '{}')">

            <td>{{ book.book_id }}</td>
            <td>{{ bookObj.book_name }}</td>
            <td>{{ book.description }}</td>
            <td>{{ bookObj.category_name }}</td>

            <td>{{ bookObj.pub_name }}</td>
            <td>{{ bookObj.price }}</td>
            <td>{{ bookObj.quantity }}</td>
            <td>{{ bookObj.discount }}</td>
            <td><img src="{{bookObj.book_image}}"  style="width:50px;height:50px"></td>
            <td>
              <button routerLink="/admin/book/edit-book/{{bookObj.book_id}}" class="btn btn-small btn-danger pull-right"
                style="margin-right:20px">Update</button></td>
            <td><button class="btn btn-small btn-success pull-right" (click)="deleteData(bookObj.book_id)"
                style="margin-right:20px">Delete</button></td>
          </tr> -->

        </tbody>
        
      </table>
      <!-- <div class="col-lg-12" *ngIf="books.length==0">
        <div class="alert alert-info">
            No books found
        </div>
    </div> -->

    <div  *ngIf="books.length==0" #alert class="alert alert-warning alert-dismissible fade show" role="alert" >
      <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong> No books found</strong> Please Check for other books.
    </div>
