<section class="recent-book-sec">
    <div class="container">
        <div class="title">
            <h2>highly recommendes books</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="item">
                    <img src="assets/images/r1.jpg" alt="img">
                    <h3><a href="#">Keepers of the kalachakara</a></h3>
                    <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="item">
                    <img src="assets/images/r2.jpg" alt="img">
                    <h3><a href="#">Keepers of the kalachakara</a></h3>
                    <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="item">
                    <img src="assets/images/r3.jpg" alt="img">
                    <h3><a href="#">Keepers of the kalachakara</a></h3>
                    <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="item">
                    <img src="assets/images/r4.jpg" alt="img">
                    <h3><a href="#">Keepers of the kalachakara</a></h3>
                    <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="item">
                    <img src="assets/images/r5.jpg" alt="img">
                    <h3><a href="#">Keepers of the kalachakara</a></h3>
                    <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="item">
                    <img src="assets/images/r1.jpg" alt="img">
                    <h3><a href="#">Keepers of the kalachakara</a></h3>
                    <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="item">
                    <img src="assets/images/r2.jpg" alt="img">
                    <h3><a href="#">Keepers of the kalachakara</a></h3>
                    <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="item">
                    <img src="assets/images/r3.jpg" alt="img">
                    <h3><a href="#">Keepers of the kalachakara</a></h3>
                    <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="item">
                    <img src="assets/images/r4.jpg" alt="img">
                    <h3><a href="#">Keepers of the kalachakara</a></h3>
                    <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="item">
                    <img src="assets/images/r5.jpg" alt="img">
                    <h3><a href="#">Keepers of the kalachakara</a></h3>
                    <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                </div>
            </div>
        </div>
        <div class="btn-sec">
            <a href="#" class="btn btn-danger">view all books</a>
        </div>
    </div>
</section>
