
<br>
<div class="main-menu">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item active">
                        
                        <a routerLink="/home" class="nav-link">Home |</a>
                    </li>
                    <!-- <li class="navbar-item">
                        <a routerLink="/shop" class="nav-link">Shop |</a>
                    </li> -->
                    <!-- <li class="navbar-item">
                        <a href="about.html" class="nav-link">About |</a>
                    </li> -->
                    
                    <li class="navbar-item">
                        <a routerLink="/myaccount" class="nav-link">Login |</a>
                    </li>
                </ul>
               &nbsp;&nbsp; <div class="cart my-2 my-lg-0">
                    <span>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                    <span class="quntity"><font color="red">{{ ServCart.cart.length }}</font></span>
                </div>
                &nbsp;&nbsp; <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search here..." aria-label="Search">
                    <span class="fa fa-search"></span>
                </form>
            </div>
        </nav>
    </div>
</div>
<br>