<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="div1">
            <div class="col-xs-4">
<a>   <app-logout></app-logout></a> 

                <img src="assets/images/adminpanel.png" alt="image" height="60" width="250" id="div3">
    <span><font color="white">Welcome Admin</font></span>

             <!-- <h4><font color="white">Welcome Admin</font></h4> -->
           
                    <!-- <button type="button" class="btn btn-warning float-right">Logout</button> -->
              
               
            <!-- </div>
           
        </div>
    </div>
    
</div> --> 
<br>
<div class="main-menu">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
       <h1> <span class="badge badge-warning">Welcome</span>&nbsp;&nbsp;</h1><a class="navbar-brand" href="index.html"><img src="assets/images/Admin.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="navbar-item active">

            <a routerLink="/home" class="nav-link">Home |</a>
          </li>
          <li class="navbar-item">
                        <a><app-logout></app-logout></a>
                    </li>
                    </ul>

                </div>
            </nav>
          </div>
        </div>